{
  "api.version": "v1",
  "sources": [
    {
        "name": "tmp_dummy",
        "description":"Track anything in dummy log for making test data",
        "category":"${ENVIRONMENT}/app/dummy",
        "automaticDateParsing":true,
        "multilineProcessingEnabled":false,
        "useAutolineMatching":true,
        "forceTimeZone":false,
        "filters":[],
        "cutoffTimestamp":0,
        "encoding":"UTF-8",
        "pathExpression":"/tmp/dummy.log",
        "blacklist":[],
        "sourceType":"LocalFile"
    }
  ]
}
